@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root {
    --fonte01: 'Permanent Marker', cursive;
    --fonte02: 'Roboto Condensed', sans-serif;
}

* {
    font-family: var(--fonte02);
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgba(128, 128, 128, 0.185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: yellow;
    text-align: center;
    padding: 20px 0px;
    font: 900 1.5em var(--fonte01);
    font-variant: small-caps;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
    border: 1px solid rgba(0, 0, 0, 0.167);
}

main {
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    list-style-position: inside;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.173);
}

main h1 {
    padding: 30px 0px;
    font: 700 2.5em var(--fonte01);
}

main h2 {
    font-family: var(--fonte01);
    padding-bottom: 2vh;
    font-size: 2em;
}

main h3 {
    font:bold 1.5em var(--fonte02);
    padding:3px;
}

main h4 {
    padding: 3px;
}

section {
    border-radius: 10px;
    margin-bottom: 2vh;
    padding: 30px 0px 66px 10px;
    padding-right: 10vw;
    text-align: left;
    height: 49vh;
}

section.listas {
    background-color: rgba(255, 255, 255, 0.777);
    padding: 15px 0px 10px 30px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.389);
    border-radius: 10px;
}

ul {
    font-size: 1.2em;
}

li {
    padding: 5px 0px;
}

section#cervejas {
    background: url(imagens/imagem-cerveja-700.jpg) center center no-repeat fixed;
    background-size: cover;
}

section#energeticos {
    background: url(imagens/imagem-redbull-700.jpg) center center no-repeat fixed;
    background-position-y: 50%;
    background-size: cover;
}

section#outros {
    background: url(imagens/imagem-refris-700.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer {
    padding: 5px;
    font-family: var(--fonte02);
    text-align: center;
    background-color: rgba(255, 255, 0, 0.781);
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: underline;
}